body{
margin:0;
padding:0;
}
H1 {font-size:30pt; color:#343d71
}
.header {
background:url(../img/fontsize2.jpg);
height:250px;
background-size: 100% 100% !important;
margin-bottom: 30px;
}
.main h1{
	margin-top: 0px;
}
.login{
	     float: right;
    margin-right: 25px;
    padding-top: 30px;
}
.login a{
    padding: 5px 10px;
    background: #343d71;
    color: #fff;
    transition: .5s;
}
.login a:hover{
	background: #fff;
	color:#343d71;
	text-decoration:none;
}
.logo{
float:left;
width: 150px;
margin:50px;
}
.logotext{
float:left; 
color:#fff;
padding-top: 50px;
}
.topmenu{
display:-moz-box;
display:-webkit-flex;
display:flex;
width:100%;
text-align:center;
margin:0 auto;
background-color: rgba(52, 61, 113, 1);
}
.topmenu a {
display:block;
-moz-box-flex:1;
-webkit-flex:1;
flex:1;
padding:5px;
text-align:center;
text-decoration:none;
color:#fff;
transition: .5s;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
    margin: 5px 15px;
}
.topmenu a:after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
    margin-top:7px;
}
.topmenu a:hover:after,
.topmenu a:focus:after {
    width: 100%;
}
.form-horizontal{
	float:right;
	    padding-top: 25px;
    margin-right: 25px;
}
.input-search{
	padding:5px 10px;
	border:none;
}
.button-ok{
	padding:5px 10px;
	background-color: #343d71;
    color: #fff;
    border: none;
    transition: .5s;
}
.button-ok:hover{
	background-color: #fff;
	color:#343d71;
}
.nothave{
        width: 50%;
    margin: auto;
    text-align: center;
    font-size:25px;
    color:#2e44a5;
}
.modal-window{
position:fixed;
top:150px;
left:50%;
width:500px;
margin-left:-250px;
border:solid 1px grey;
background:white;
padding:20px;
border-radius:6px;
z-index:99;
box-shadow:3px 3px 3px black;
}
#jquery-overlay{
background:black;
opacity:0.7;
position:fixed;
width:100%;
height:100%;
left:0;
top:0;
}
.modal-close-btn{
position:absolute;
top:1px;
right:1px;
margin:0;
padding:0;
text-decoration:none;
color:red;
font-size:20px;
z-index:100;
}
.modal-close-btn:before{
position:relative;
top:-1px;
content:'Закрыть';
font-size:12px;
}
.news{
background:url(../img/fruits.jpg);
height:300px;
}
.news{
display:-moz-box;
display:-webkit-flex;
display:flex;
width:100%;
text-align:center;
margin:0 auto;
}
.news a{
display:block;
-moz-box-flex:1;
-webkit-flex:1;
flex:1;
padding:5px;
text-align:center;
text-decoration:none;
color:green;

}

.content {
padding:5px;
}
.footer {
padding-top:45px;
padding-bottom:45px;
background:#343d71;
text-align:center;
font-size:12px;
}
.footer span{
    color:#fff;
}
.footer a {
text-decoration:none;
font-weight:bold;
color:#efefef;
}
.footer a:hover {
text-decoration:underline;
}
.btn-success{
    background-color:#343d71;
    border-color: #343d71;
}
.btn-success:hover{
    background-color: #5061c1;
    border-color:#5061c1;
}
@media screen and (max-width:768px){
.header{
height:100px;
}
.logo{
display:none;
}
.topmenu{
flex-direction:column;
}
}
